<div id="<%= dom_id @account %>">
  <div>
    <%= "Number: #{@account.number}" %>
  </div>
  <div>
    <%= "Credit: #{@account.credit}" %>
  </div>
  <div>
    <%= "Currency: #{@account.credit_currency}" %>
  </div>
</div>
